.App {
  text-align: center;
  background-color: #0F5298;
}
body, html {
  height: 100%;
}

.App-header {
  background-color: #0F5298;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
main {
  height:100%
}
.roomData {
float: left;
width: 25%;
height: 100vh;
background-color: lightskyblue;
overflow: scroll;
}
.activeRoom {
font-weight: bold;
}
.currentActiveRoom {

  text-align: left;
}
.messageList {
display: inline-block;
width: 75%;
height: 100vh;
background-color: lightcyan;
overflow: scroll;
}
.message {
  border: solid black 1px;
}
.loginToggle {
float: right;
}
.userInfo {
  text-align: left;
}
.loginInfo {
  height: 100%;
background-color: lightskyblue;
}
.user {
  font-style: bold;
  text-align: left;
}
.content {
  text-align: left;
}
.timestamp {
  text-align: right;
}
.sendNewMessage {
  position: fixed;
    bottom: 0;
    right: 0;
}
#newMessageInput {
  height: 10vh;
}
#messageSubmit {
height: 10vh;
}
